<%= form_with url: '/dogs', method: :post, local: true do |form| %>
  <div class="mb-4">
    <%= form.label :breed, "Dog Breed", class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field :breed, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight" %>
  </div>
  <div class="flex items-center justify-between">
    <%= form.submit "Fetch", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer" %>
  </div>
<% end %>
