<div class="container mx-auto mt-28 px-5 flex">
  <h1 class="text-3xl font-bold underline">Dogs</h1>
  <div class="max-w-md mx-auto mt-10">
    <%= render partial: 'form' %>
  </div>

  <div class="max-w-md mx-auto mt-10">
    <%= render partial: 'photo' %>
  </div>
</div>
